<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://lsnwatchfunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/fb124482-bb0f-46a8-a5b6-27c9ef107e5a/resourceGroups/learn-0d8838ba-a491-43b5-8afd-dfe97c8dc60d/providers/Microsoft.Web/sites/lsnwatchfunctions</ResourceId>
    <UserName>$lsnwatchfunctions</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://lsnwatchfunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>